# Move this file to /etc/systemd/system/

[Unit]
Description=MQTT client for serial relay control
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
Restart=always
RestartSec=10
User=ryan
ExecStart=/home/ryan/mqtt-relay-control/mqtt-relay-control config.yml

[Install]
WantedBy=multi-user.target
